body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.tiny-panel {
    margin: 20px auto;
    width: 300px;
}
.my-panel {
    border: 1px solid #D4D4D4;
    margin:  auto;
    background-color: #FFFFFF;
}
.my-panel-header {
    border-bottom: 1px solid #D4D4D4;
    background-color: #DCE4E9;
    padding: 4px;
}
.my-header-text {
    color: #7E7E7E;
    font-size: 16px;
    margin: 7px;
    font-weight: 500;
}
.my-desc-text {
    color: #7E7E7E;
    font-size: 14px;
    font-weight: 500;
}
.button-gray {
    border-color: #aabbcc;
    color: #818283;
    background-color: #dce4e9;
    border-radius: 0;
    font-weight: bold;
}
table.my-table {
    border-collapse: separate;
    border-spacing: 16px;
}
.wide-panel {
    margin: auto;
    width: 50%;
}